aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.10.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.9
colorama==0.4.4
discord.py==1.7.3
discordhealthcheck==0.0.8
idna==3.3
importlib-metadata==4.9.0
loguru==0.5.3
Markdown==3.3.6
multidict==5.2.0
py-cord @ git+https://github.com/Pycord-Development/pycord
python-dotenv==0.19.2
rapidfuzz==1.9.1
requests==2.26.0
soupsieve==2.3.1
thefuzz==0.19.0
typing_extensions==4.0.1
urllib3==1.26.7
win32-setctime==1.0.4
yarl==1.7.2
zipp==3.6.0
